//colors variables
$neutral-grey-clr: #f5f6fa;
$grey: #8f959e;
$black-black-clr: #1d1e20;
$bg-clr: #fefefe;
$primary-clr: #9775fa;
$secondary-clr: #ff7043;

//layout variables
$main-width: calc(100% - 20px);
$main-font: "Inter", sans-serif;
